<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.dynamic_feature"
          split="dynamic_feature">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/title_module_1">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application
        android:hasCode="false"
        tools:replace="android:hasCode"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">
        <activity
            android:name=".DynamicActivity"
            android:label="@string/title_module_1"
            android:theme="@style/AppTheme"/>
    </application>
</manifest>
